In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_scre

In [2]:
pwd

'/Users/admin'

In [3]:
cd Desktop

/Users/admin/Desktop

In [4]:
a=pd.read_csv("task2.csv")
a

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0
...,...,...,...,...,...,...,...
1891,292887.5496,web,"Meridian, Idaho",No,0.000000,0.000000,0
1892,292881.6932,mobile,"Meridian, Idaho",No,1203.190399,0.312360,0
1893,292900.8499,gender,"Meridian, Idaho",No,806.378820,0.488025,0
1894,292893.8600,gender,"Meridian, Idaho",No,1149.529381,0.488984,0
1895,292890.2944,web,"Meridian, Idaho",No,0.000000,0.000000,0

In [5]:
a.fillna(0)

,ID,Segment type,Segment Description,Answer,Count,Percentage,It became a relationship
0,292890.8970,web,"Meridian, Idaho",No,0.000000,0.000000,0
1,292887.9870,web,"Meridian, Idaho",No,0.000000,0.000000,0
2,292894.0656,gender,"Meridian, Idaho",No,499.173606,0.225255,0
3,292887.1180,web,"Meridian, Idaho",No,0.000000,0.000000,0
4,292893.6561,gender,"Meridian, Idaho",No,455.925963,0.211360,0
...,...,...,...,...,...,...,...
1891,292887.5496,web,"Meridian, Idaho",No,0.000000,0.000000,0
1892,292881.6932,mobile,"Meridian, Idaho",No,1203.190399,0.312360,0
1893,292900.8499,gender,"Meridian, Idaho",No,806.378820,0.488025,0
1894,292893.8600,gender,"Meridian, Idaho",No,1149.529381,0.488984,0
1895,292890.2944,web,"Meridian, Idaho",No,0.000000,0.000000,0

In [7]:
y = a["It became a relationship"]
x = a[["Percentage"]]

In [8]:
test_size = 0.33
seed = 7
x_train, x_test, y_train, y_test =  train_test_split(x, y, test_size=test_size, random_state=seed)

In [9]:
model = DecisionTreeClassifier()

In [11]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [12]:
predictions = model.predict(x_train)
print(accuracy_score(y_train, predictions))

0.9433070866141732

In [13]:
predictions = model.predict(x_test)
print(accuracy_score(y_test, predictions))

0.6565495207667732

In [15]:
Y = a["It became a relationship"]
X = a[["Count"]]

In [16]:
test_size = 0.33
seed = 7
X_train, X_test, Y_train, Y_test =  train_test_split(X,Y, test_size=test_size, random_state=seed)

In [17]:
model = DecisionTreeClassifier()

In [18]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [19]:
predictions = model.predict(X_train)
print(accuracy_score(Y_train, predictions))

0.5937007874015748

In [20]:
predictions = model.predict(X_test)
print(accuracy_score(Y_test, predictions))

0.6006389776357828